
/* flex-columns */

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex: 1;


}

.flex-columns .column-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 30px;
  color: #fff;
  background: #010606;
  
 
}

.flex-columns .column-2 {
  height: 100%;
  
}

.flex-columns .icon {
  margin-bottom: 5px;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns h2 {
  font-size: 40px;
  line-height: 1;
}

.flex-columns h4 {
  color: var(  --primary-color);
  margin-bottom: 15px;
}


.flex-columns p {
  margin: 20px 0;
}




/* flex-columns_ */
.flex-columns_ .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.flex-columns_ .column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 200px;

}

.flex-columns_ .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 30px;
  color: #fff;
  background: #010606;
  
 
}

.flex-columns_ .column-1 {
  height: 100%;
  
}

.flex-columns_ .icon {
  margin-bottom: 5px;
}

.flex-columns_ img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns_ h2 {
  font-size: 40px;
  line-height: 1;
}

.flex-columns_ h4 {
  color: var(  --primary-color);
  margin-bottom: 15px;
}

.flex-columns_ p {
  margin: 20px 0;
}
